/* -------MODAL WINDOW------ */

/* стилизация содержимого страницы */
/* body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}  */

/* свойства модального окна по умолчанию */
.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7); /* цвет фона */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}
/* при отображении модального окно */
.modal:target {
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  max-width: 720px;
  margin: 30px auto; /* для отображения модального окна по центру */
}

@media screen and (max-width: 768px) {
  .modal-dialog {
    max-width: 540px;
    margin: 30px auto; /* для отображения модального окна по центру */
  }
}

@media screen and (max-width: 576px) {
  .modal-dialog {
    max-width: 320px;
    margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #d2d4d2;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
@media screen and (max-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #7a7a7a;
}
.modal-title {
  font-family: var(--font-family);
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #181818;
}
/* свойства для кнопки "Закрыть" */
.close {
  float: right;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover,
.modal-title:focus,
.modal-title:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}

.burger_menu {
  .burger_nav_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .burger_nav_list_item_link {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 20px;
    color: var(--black);
  }

  .contact_container {
  }

  .contact_list {
    display: flex;
    gap: 23px;
    align-items: center;
    list-style: none;
  }

  .contact_list_item:first-child {
    border: 1px solid var(--black);
    border-radius: 15px;
    width: 204px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact_list_item_link {
  }

  .contact_tell {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
    text-decoration: none;
  }

  .contact_list_item_link {
    filter: brightness(0) saturate(100%) invert(7%) sepia(11%) saturate(5%)
      hue-rotate(320deg) brightness(91%) contrast(94%);
    transition: all 0.5s ease-in-out;
  }
}

.burger_nav_list_item_link:hover,
.burger_nav_list_item_link:focus,
.contact_tell:hover,
.contact_tell:focus,
.contact_list_item_link:hover,
.contact_list_item_link:focus {
  color: var(--blue);
  filter: brightness(0) saturate(100%) invert(31%) sepia(50%) saturate(2079%)
    hue-rotate(202deg) brightness(87%) contrast(91%);
}