@media screen and (max-width: 576px) {
  .container {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
  }

  /* =====HEADER===== */

  .header .container {
    padding: 19px 22px 9px 12px;

    border-bottom: none;
  }

  .tell_box,
  .location_text,
  .our_hall_btn,
  .reserve_btn {
    display: none;
  }

  .header_contact_box,
  .header_btn_box {
    gap: 0px;
  }

  .location_box {
    margin-left: 60px;
  }

  .svg_block {
    width: 51px;
    height: 51px;

    svg {
      width: 29px;
      height: 29px;
    }
  }

  .burger_btn {
    display: block;
  }

  /* =====HERO===== */

  .hero .container {
    position: relative;

    margin-top: -79px;
    padding-top: 122px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero_title {
    font-size: 18px;
    line-height: 128%;

    width: 250px;
    margin-bottom: 8px;
  }

  .hero_pre_title {
    font-size: 36px;
    line-height: 133%;
    z-index: 8;

    width: 322px;
    margin-bottom: 20px;
  }

  .hero_benefits_list {
    flex-direction: column;
    gap: 16px;

    align-items: start;

    margin-bottom: 230px;
  }

  .hero_benefits_item {
    display: flex;
    align-items: start;
    gap: 8px;

    width: 180px;
  }

  .hero_benefits_item:nth-child(2) {
    width: 150px;
  }

  .hero_benefits_item:nth-child(3) {
    width: 130px;
  }

  .hero_benefits_text {
    font-size: 13px;
    line-height: 138%;

    width: 190px;
  }

  .lock {
    position: static;

    margin-bottom: 24px;
  }

  .header_btn_box {
    margin-left: 0px;
  }

  .hero_btn {
    width: 223px;
    height: 50px;
    z-index: 8;

    border: none;
    font-size: 11px;
  }

  .hero_rectangle29 {
    display: block;
  }

  .harizmahall_img {
    position: absolute;
    top: 200px;
    left: 0px;
    z-index: 0;
  }

  .hero_img {
    top: 260px;
    left: 65px;

    width: 329px;
    height: 586px;
  }

  .dancer_img {
    width: 100%;
    height: 110%;
    object-fit: cover;
    object-position: 0 0;
  }

  .mic_img {
    top: 266px;
    left: 220px;
    z-index: 2;

    /* width: 78px;
    height:293px;
    */
    width: 30%;
    height: 80%;
  }

  .birka {
    top: 600px;
    left: 109px;
    z-index: 8;

    width: 142px;
    height: 144px;
  }

  .el3,
  .el5,
  .el6,
  .el7 {
    width: 130%;
  }

  .hours_24 {
    width: 25px;
  }

  .birka_text {
    top: 55%;
  }

  .birka_pre_text {
    font-size: 12px;
    line-height: 200%;

    margin-bottom: -4px;
  }

  .birka_text_accent {
    font-size: 14px;
    line-height: 171%;
  }

  .hero_use_me_list {
    flex-wrap: wrap;
    gap: 0;

    /* width: 360px; */

    margin-left: -22px;
    margin-right: -22px;
    margin-top: 32px;
    box-sizing: border-box;
  }

  .use_me_item {
    width: 200px;
    height: 103px;
    padding: 13px 8px 4px 25px;
    box-sizing: border-box;

    background: #282b32;

    justify-content: start;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 10px;
  }

  .use_me_item:nth-child(2),
  .use_me_item:nth-child(3) {
    background: #202124;
  }

  .use_me_item:nth-child(4) {
    background: #282b32;
  }

  .use_me_item_line {
    width: 18px;
    margin-right: 19px;
  }

  .use_me_item_text {
    font-size: 14px;
    line-height: 136%;

    width: 148px;
  }

  /* =====VENUES=====  */

  .venues_photos {
    position: absolute;
    top: 260px;
    left: 0;

    width: 360px;
  }

  .main-slides {
    height: 256px;
  }

  .thumbnails-carousel {
    position: static;
  }

  .thumb-item {
    flex: 0 0 72px;
    height: 43px;
  }

  .venues_info {
    padding-left: 20px;
    padding-top: 203px;
  }

  .venues_info_box {
    width: 360px;

    top: 53px;
    left: 18px;

    gap: 15px;
  }

  .venues_title {
    font-size: 36px;
    line-height: 133%;
  }

  .venues_post_title {
    font-size: 18px;
    line-height: 128%;

    width: 300px;
  }

  .venues_hall_box {
    gap: 35px;

    margin-bottom: 28px;
  }

  .hall_select {
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 22px;

    margin-bottom: 310px;
  }

  .hall_info {
    gap: 11px;
  }

  .hall_info_item {
    gap: 11px;

    height: 41px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
  }

  .prop1 {
    width: 134px;
  }

  .prop2 {
    width: 158px;
  }

  .prop3 {
    width: 267px;
  }

  .hall_info_item_icon {
    /* width: 21px; */
  }

  .hall_info_item_text {
    font-size: 14px;

    padding-top: 5px;
  }

  .venues .img_select_box {
    width: 195px;

    margin-bottom: 28px;
  }

  .venues .select_text {
    font-size: 14px;
    line-height: 253%;
    letter-spacing: 0.03em;
  }

  .venues .arrow-label {
    padding: 4px;

    width: 53px;
    height: 53px;
  }

  .venues {
    #slide-1:checked ~ .venues_info .select_text::before {
      content: "1";
      padding-left: 60px;
    }

    #slide-10:checked ~ .venues_info .select_text {
      padding-right: 60px;
    }
  }

  .venues .select_text::before {
    font-size: 19px;

    margin-right: 6px;
  }

  /* =====ADVANTAGE===== */

  .advantages .container {
    padding-top: 61px;
    padding-bottom: 54px;
    padding-left: 18px;
  }

  .advantage_info_box {
  }

  .advantage_title {
    font-size: 36px;
    line-height: 133%;

    margin-bottom: 25px;
  }

  .advantage_post_title {
    font-size: 18px;
    line-height: 128%;

    margin-bottom: 30px;
  }

  .advantage_list {
    gap: 11px;
    align-items: stretch;

    width: 360px;

    *:nth-child(1) {
      order: 1;
    }

    *:nth-child(2) {
      order: 2;
    }

    *:nth-child(3) {
      order: 4;
    }

    *:nth-child(4) {
      order: 3;
    }

    *:nth-child(5) {
      order: 6;
    }

    *:nth-child(6) {
      order: 5;
    }
  }

  .advantage_item {
    width: 156px;
    height: auto;

    padding: 18px;
  }

  .advantage_item:nth-child(2n) {
    background: #202124;
  }

  .advantage_item_img {
    margin-bottom: 8px;
  }

  .advantage_item_title {
    font-size: 14px;
    line-height: 129%;

    margin-bottom: 2px;
  }

  .advantage_item_disc {
    .list {
      gap: 7px;
    }

    .list_item {
      gap: 8px;

      img {
        margin-top: 4px;
      }

      p {
        font-size: 13px;
        line-height: 138%;
      }
    }
  }
  .rectangle_bg {
    width: 506px;
    height: 1042px;

    background: linear-gradient(
      180deg,
      rgba(96, 101, 113, 0) 0%,
      rgba(96, 101, 113, 0.05) 100%
    );

    position: absolute;
    top: 0;
    left: 708px;
  }

  .advantage_image_box {
    position: absolute;
    top: 128px;
    left: 1263px;
  }

  .advantage_wall {
    box-shadow: 0 0 77px 12px #1a0b0b;
    overflow: hidden;

    -webkit-mask-image:
      linear-gradient(
        to right,
        transparent 0%,
        black 20%,
        black 80%,
        transparent 100%
      ),
      linear-gradient(
        to bottom,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
      );
    mask-image:
      linear-gradient(
        to right,
        transparent 0%,
        black 20%,
        black 80%,
        transparent 100%
      ),
      linear-gradient(
        to bottom,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
      );
    -webkit-mask-composite: intersect;
    mask-composite: intersect;
  }

  .advantage_mic {
    position: absolute;
    top: 45px;
    left: 168px;

    box-sizing: border-box;

    /* box-shadow: 0 0 74px 42px #1a0b0b; */

    mask-image:
      linear-gradient(
        to right,
        transparent 0%,
        black 25%,
        black 75%,
        transparent 100%
      ),
      linear-gradient(
        to bottom,
        transparent 0%,
        black 5%,
        black 90%,
        transparent 100%
      );
    mask-composite: intersect;
  }

  .advantage_image_box .hero_btn {
    position: absolute;
    top: 734px;
    left: 255px;
  }

  /* =====RESERV===== */

  .reserv .container {
    padding: 67px 18px 155px 18px;
  }

  .reserv_title {
    letter-spacing: -0.03em;

    font-size: 36px;
    line-height: 133%;

    margin-bottom: 27px;
  }

  .reserv_post_title {
    width: 280px;

    font-size: 18px;
    line-height: 128%;

    margin-bottom: 33px;
  }

  .reserv .img_select_box {
    position: absolute;
    left: 24px;
    top: 940px;
  }

  .reserv .select_text {
    font-size: 14px;
    line-height: 253%;
  }

  .arrow-label {
    padding: 4px;

    width: 53px;
    height: 53px;
  }

  .reserv_list {
    --slide-w: 305px;
    --gap: 60px;
    --step: calc(var(--slide-w) + var(--gap));

    --offset: calc(50vw - 50px - var(--slide-w) / 2);

    display: flex;
    gap: 60px;
  }

  #s1:checked ~ .container .select_text::before {
    content: "1";
    padding-left: 70px;
  }

  #s9:checked ~ .container .select_text {
    padding-right: 60px;
  }

  .select_text::before {
    font-size: 19px;

    margin-right: 6px;
  }

  /* =====FAQ===== */
  .FAQ .container {
    padding: 53px 18px;
  }

  .FAQ_title {
    letter-spacing: 0.03em;

    font-size: 36px;
    line-height: 133%;

    margin-bottom: 33px;
  }

  .FAQ_post_title {
    font-size: 18px;
    line-height: 128%;

    margin-bottom: 45px;
  }

  .FAQ_info {
    flex-direction: column;
    align-items: start;
  }

  .FAQ_list {
    max-width: 360px;
  }

  .faq-input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .FAQ_item_quetion {
    font-size: 14px;
    line-height: 129%;

    padding: 20px 20px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
  }

  .FAQ_item_quetion::after {
    content: "";
    display: inline-block;
    width: 43px;
    height: 43px;
    box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.21);
    background: #34373f;
    border-radius: 10px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23f1c40f'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    flex-shrink: 0;
  }

  .FAQ_item_answer {
    font-size: 13px;
    line-height: 138%;

    padding: 20px;
  }

  .faq-input:checked ~ .faq-answer {
    max-height: 360px;
  }

  .FAQ_main_info_text {
    width: 360px;
    padding-left: 13px;
    margin-bottom: 46px;

    font-size: 24px;
    line-height: 175%;
  }

  .FAQ_wall {
    position: absolute;
    left: 0px;
    top: 200px;
  }

  .FAQ_slippers {
    margin: 0 auto;

    margin-bottom: 63px;
  }

  .FAQ .hero_btn {
    margin-left: 0px;
    width: 100%;
  }

  /* =====FOOTER===== */

  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 29px;

    padding: 18px;
  }

  .footer .our_hall_btn {
    padding: 25px 50px;
    width: auto;
    height: auto;
  }

  .footer {
    .header_contact_box,
    .header_btn_box {
      display: none;
    }

    .footer_contact_box,
    .footer_btn_box {
      display: block;
    }

    .footer_contact_box,
    .footer_btn_box {
      display: flex;
      flex-direction: column;
      gap: 13px;
      align-items: start;
    }

    .footer_contact_box {
      flex-direction: column-reverse;
    }

    .tell_box,
    .calendar_box,
    .location_box {
      display: flex;
      align-items: center;
      gap: 17px;
    }

    .header_btn_box {
    }

    .location_box {
    }

    .location_text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 15px;
      letter-spacing: 0.03em;
      color: #ffffff;
    }

    .tell_box:hover,
    .tell_box:focus,
    .location_box:hover,
    .location_box:focus {
      .tell_text,
      .location_text {
        color: #f69020;
        transition: var(--transition1);
      }
      svg {
        filter: brightness(0) saturate(100%) invert(56%) sepia(98%)
          saturate(574%) hue-rotate(345deg) brightness(98%) contrast(96%);
        transition: var(--transition1);
      }
    }

    .our_hall_btn,
    .reserve_btn {
      border: 1px solid #393c43;
      border-radius: 40px;
      width: 204px;
      height: 60px;

      background: rgba(255, 255, 255, 0);

      font-family: var(--font-family);
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
    }

    .our_hall_btn:hover,
    .our_hall_btn:focus,
    .reserve_btn:hover,
    .reserve_btn:focus {
      background: var(--gradient_hover);

      /* color: #000; */
      transition: var(--transition1);
    }
  }

  .back-to-top {
    display: inline-block;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10;

    background: #333;
    color: #fff;

    padding: 14px 16px;
    border-radius: 100%;

    opacity: 1;
    transition: opacity 0.3s background 0.3s;
  }

  .back-to-top:hover,
  .back-to-top:focus {
    background: #555;
  }
}
