@media screen and (max-width: 576px) {
  .container {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
  }

  /* =====HEADER===== */

  .header .container {
    padding: 19px 22px 9px 12px;

    border-bottom: none;
  }

  .tell_box,
  .location_text,
  .our_hall_btn,
  .reserve_btn {
    display: none;
  }

  .header_contact_box,
  .header_btn_box {
    gap: 0px;
  }

  .location_box {
    margin-left: 60px;
  }

  .svg_block {
    width: 51px;
    height: 51px;

    svg {
      width: 29px;
      height: 29px;
    }
  }

  .burger_btn {
    display: block;
  }

  /* =====HERO===== */

  .hero .container {
    position: relative;

    margin-top: -79px;
    padding-top: 122px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero_title {
    font-size: 18px;
    line-height: 128%;

    width: 250px;
    margin-bottom: 8px;
  }

  .hero_pre_title {
    font-size: 36px;
    line-height: 133%;
    z-index: 8;

    width: 322px;
    margin-bottom: 20px;
  }

  .hero_benefits_list {
    flex-direction: column;
    gap: 16px;

    align-items: start;

    margin-bottom: 230px;
  }

  .hero_benefits_item {
    display: flex;
    align-items: start;
    gap: 8px;

    width: 180px;
  }

  .hero_benefits_item:nth-child(2) {
    width: 150px;
  }

  .hero_benefits_item:nth-child(3) {
    width: 130px;
  }

  .hero_benefits_text {
    font-size: 13px;
    line-height: 138%;

    width: 190px;
  }

  .lock {
    position: static;

    margin-bottom: 24px;
  }

  .header_btn_box {
    margin-left: 0px;
  }

  .hero_btn {
    width: 223px;
    height: 50px;
    z-index: 8;

    border: none;
    font-size: 11px;
  }

  .hero_rectangle29 {
    display: block;
  }

  .harizmahall_img {
    position: absolute;
    top: 200px;
    left: 0px;
    z-index: 0;
  }

  .hero_img {
    top: 260px;
    left: 65px;

    width: 329px;
    height: 586px;
  }

  .dancer_img {
    width: 100%;
    height: 110%;
    object-fit: cover;
    object-position: 0 0;
  }

  .mic_img {
    top: 266px;
    left: 220px;
    z-index: 2;

    /* width: 78px;
    height:293px;
    */
    width: 30%;
    height: 80%;
  }

  .birka {
    top: 600px;
    left: 109px;
    z-index: 8;

    width: 142px;
    height: 144px;
  }

  .el3,
  .el5,
  .el6,
  .el7 {
    width: 130%;
  }

  .hours_24 {
    width: 25px;
  }

  .birka_text {
    top: 55%;
  }

  .birka_pre_text {
    font-size: 12px;
    line-height: 200%;

    margin-bottom: -4px;
  }

  .birka_text_accent {
    font-size: 14px;
    line-height: 171%;
  }

  .hero_use_me_list {
    flex-wrap: wrap;
    gap: 0;

    /* width: 360px; */

    margin-left: -22px;
    margin-right: -22px;
    margin-top: 32px;
    box-sizing: border-box;
  }

  .use_me_item {
    width: 200px;
    height: 103px;
    padding: 13px 8px 4px 25px;
    box-sizing: border-box;

    background: #282b32;

    justify-content: start;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 10px;
  }

  .use_me_item:nth-child(2),
  .use_me_item:nth-child(3) {
    background: #202124;
  }

  .use_me_item:nth-child(4) {
    background: #282b32;
  }

  .use_me_item_line {
    width: 18px;
    margin-right: 19px;
  }

  .use_me_item_text {
    font-size: 14px;
    line-height: 136%;

    width: 148px;
  }

  /* =====VENUES=====  */

  .venues .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .venues_photos {
    position: relative;
    /* position: absolute;
  top: 0;
  right: 0; */

    width: 1407px;
  }

  .main-slides {
    position: relative;

    width: 100%;
    height: 1000px;
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .thumbnails-carousel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;

    display: flex;

    overflow-x: auto;
    scroll-behavior: smooth;
    box-sizing: border-box;

    scroll-snap-type: x mandatory;
  }

  .thumbnails-carousel::-webkit-scrollbar {
    display: none;
  }

  .thumbnails-carousel {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .thumb-item {
    flex: 0 0 281px;
    height: 168px;

    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease;

    box-sizing: border-box;
    border: 3px solid transparent;

    scroll-snap-align: start;
  }

  .thumb-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none;
  }

  #slide-1:checked ~ .venues_photos .main-slides .slide-1,
  #slide-2:checked ~ .venues_photos .main-slides .slide-2,
  #slide-3:checked ~ .venues_photos .main-slides .slide-3,
  #slide-4:checked ~ .venues_photos .main-slides .slide-4,
  #slide-5:checked ~ .venues_photos .main-slides .slide-5,
  #slide-6:checked ~ .venues_photos .main-slides .slide-6,
  #slide-7:checked ~ .venues_photos .main-slides .slide-7,
  #slide-8:checked ~ .venues_photos .main-slides .slide-8,
  #slide-9:checked ~ .venues_photos .main-slides .slide-9,
  #slide-10:checked ~ .venues_photos .main-slides .slide-10 {
    opacity: 1;
    z-index: 2;
  }

  /* 2. Робимо активну мініатюру яскравою та додаємо синю рамку */
  #slide-1:checked ~ .venues_photos .thumbnails-carousel .item-1,
  #slide-2:checked ~ .venues_photos .thumbnails-carousel .item-2,
  #slide-3:checked ~ .venues_photos .thumbnails-carousel .item-3,
  #slide-4:checked ~ .venues_photos .thumbnails-carousel .item-4,
  #slide-5:checked ~ .venues_photos .thumbnails-carousel .item-5,
  #slide-6:checked ~ .venues_photos .thumbnails-carousel .item-6,
  #slide-7:checked ~ .venues_photos .thumbnails-carousel .item-7,
  #slide-8:checked ~ .venues_photos .thumbnails-carousel .item-8,
  #slide-9:checked ~ .venues_photos .thumbnails-carousel .item-9,
  #slide-10:checked ~ .venues_photos .thumbnails-carousel .item-10 {
    opacity: 1;
    border-color: #007aff; /* Синій колір рамки, як на скріншоті */
  }

  .thumb-item:hover {
    opacity: 0.8;
  }

  .thumbnails-carousel::-webkit-scrollbar {
    height: 8px;
    display: block;
  }

  .thumbnails-carousel::-webkit-scrollbar-track {
    background: #111;
    border-radius: 4px;
  }
  .thumbnails-carousel::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
    border: 1px solid #111;
  }

  .thumbnails-carousel::-webkit-scrollbar-thumb:hover {
    background: #007aff;
  }

  .venues_info {
    padding-left: 20px;
    padding-top: 203px;
  }

  .venues_info_box {
    width: 360px;

    top: 53px;
    left: 18px;

    gap: 15px;
  }

  .venues_title {
    font-size: 36px;
    line-height: 133%;
  }

  .venues_post_title {
    font-size: 18px;
    line-height: 128%;

    width: 300px;
  }

  .venues_hall_box {
    gap: 35px;

    margin-bottom: 78px;
    
  }

  .hall_select {
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 22px;

    margin-bottom: 360px;
  }

  .hall_item {
  }

  .hall_info {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  .hall_info_item {
    display: flex;
    gap: 11px;
    align-items: center;

    height: 41px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    box-sizing: border-box;

    background: linear-gradient(
      97deg,
      rgba(246, 144, 32, 0.24) 0%,
      rgba(246, 144, 32, 0.24) 100%
    );
  }

  .prop1 {
    width: 134px;
  }

  .prop2 {
    width: 158px;
  }

  .prop3 {
    width: 267px;
  }

  .hall_info_item_icon {
    /* width: 21px; */
  }

  .hall_info_item_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 100%;
    color: #fff;
    padding-top: 5px;
  }

  .venues .img_select_box {
    display: flex;
    align-items: center;
    width: 261px;
    justify-content: space-between;

    margin-bottom: 61px;

    user-select: none;
  }

  .venues .select_text {
    font-family: var(--font-family);
    font-weight: 500;

    font-size: 18px;
    color: #606571;
    min-width: 60px;
    text-align: center;
  }

  .venues .select_text span {
    font-weight: 700;
    color: #fff;
  }

  .select_right {
  }

  .venues .arrow-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;

    transition: var(--transition1);

    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: transparent;
  }

  .venues .arrow-label:focus,
  .venues .arrow-label:hover {
    background-color: #303237;
    transition: var(--transition1);
  }

  .venues .carousel-radio {
    display: none;
  }

  .venues {
    #slide-1:checked ~ .venues_info .select_text::before {
      content: "1";
      padding-left: 76px;
    }
    #slide-2:checked ~ .venues_info .select_text::before {
      content: "2";
    }
    #slide-3:checked ~ .venues_info .select_text::before {
      content: "3";
    }
    #slide-4:checked ~ .venues_info .select_text::before {
      content: "4";
    }
    #slide-5:checked ~ .venues_info .select_text::before {
      content: "5";
    }
    #slide-6:checked ~ .venues_info .select_text::before {
      content: "6";
    }
    #slide-7:checked ~ .venues_info .select_text::before {
      content: "7";
    }
    #slide-8:checked ~ .venues_info .select_text::before {
      content: "8";
    }
    #slide-9:checked ~ .venues_info .select_text::before {
      content: "9";
    }
    #slide-10:checked ~ .venues_info .select_text::before {
      content: "10";
    }
    #slide-10:checked ~ .venues_info .select_text {
      padding-right: 76px;
    }
  }

  .venues .select_text::before {
    content: "";
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 200%;
    letter-spacing: 0.03em;
    color: #fff;
    margin-right: 6px;
  }

  .venues .arrow-group {
    display: flex;
    flex-direction: column;
  }

  .venues .arrow-label {
    display: none;
    cursor: pointer;
  }

  /* Показуємо стрілку "назад" для відповідного стану */
  #slide-2:checked ~ .venues_info .prev-to-1,
  #slide-3:checked ~ .venues_info .prev-to-2,
  #slide-4:checked ~ .venues_info .prev-to-3,
  #slide-5:checked ~ .venues_info .prev-to-4,
  #slide-6:checked ~ .venues_info .prev-to-5,
  #slide-7:checked ~ .venues_info .prev-to-6,
  #slide-8:checked ~ .venues_info .prev-to-7,
  #slide-9:checked ~ .venues_info .prev-to-8,
  #slide-10:checked ~ .venues_info .prev-to-9 {
    display: flex;
  }

  /* Показуємо стрілку "вперед" для відповідного стану */
  #slide-1:checked ~ .venues_info .next-to-2,
  #slide-2:checked ~ .venues_info .next-to-3,
  #slide-3:checked ~ .venues_info .next-to-4,
  #slide-4:checked ~ .venues_info .next-to-5,
  #slide-5:checked ~ .venues_info .next-to-6,
  #slide-6:checked ~ .venues_info .next-to-7,
  #slide-7:checked ~ .venues_info .next-to-8,
  #slide-8:checked ~ .venues_info .next-to-9,
  #slide-9:checked ~ .venues_info .next-to-10 {
    display: flex;
  }

  .select_left,
  .select_right {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    border: 2px solid #303237;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: var(--transition1);
  }

  .select_left:hover,
  .select_left:focus,
  .select_right:hover,
  .select_right:focus {
    background-color: #303237;
    transition: var(--transition1);
  }

  .select_text {
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 200%;
    letter-spacing: 0.03em;
    font-size: 16px;
    color: #606571;

    span {
      color: #fff;
      font-size: 24px;
    }
  }

  .select_right {
  }

  .hero_btn {
  }
}
